/node_modules
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/framework/cache/data/f9/17/f91793b8df8757855df9974f2e53358f5a341325
